// Подключаем стили ===============================================================================
@import '_nulstyle';
//=================================================================================================
body {
  background: rgb(150, 150, 150);
}
#output {
  font-size: 25px;
  width: 25px;
  height: 25px;
  display: flex;
  color: rgb(13, 0, 255);
}
